$primary-color: #cfcfcf;
$border-color-v1: #ddd;
$border-color-v2:#ebeaea;
$primary-white:#ffffff;
$weekend-color: #f7f9fa;
$table-background-hover-color: #f7f9fa;
$sidebar-timeslot-bg-color:#f7f9fa;
$shadow-base: rgb(0 0 0 / 65%) 0px 4px 8px 0px;
$button-padding: 4px 10px;
$color-blue:#0080ff;







// Colors
$color-neutral-base: #cfcfcf;
$border-light: #ddd;
$border-muted: #ebeaea;
$white: #ffffff;
$background-weekend: #f7f9fa;
$background-hover: #f7f9fa;
$sidebar-background: #f7f9fa;
$blue-primary: #0080ff;
$color-yellow-light: rgb(255, 255, 139);
$color-red:red;
$color-dard-red: rgb(148, 0, 0);
$color-text-gra: #646464;

// Shadows
$shadow-base: rgba(0, 0, 0, 0.65) 0px 4px 8px;

// Spacing
$padding-button: 4px 10px;
